<head>
  <link rel="stylesheet" href="/css/music_app.css">
</head>
<body>
  <div class="col-sm-6">
    <img src="images/logo.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome</h1>
    <p> to our Music Application, designed to offer users a seamless experience for effortlessly adding and sharing their favorite songs!</p>
    <p> Our platform has been carefully crafted to connect music enthusiasts, fostering a vibrant community where the joy of music knows no bounds.</p>
    <p> You can <a href="/contact"><u>subscribe here!</u> </a></p>
  </div>
</body>
