<div class="col-sm-6">
  <img src="images/people.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1 class="title">Learn to cook cutting edge food</h1>
  <h1>List of songs</h1>
  <% songs.forEach(song => { %>
  <h5>
    <%= song.name %>
  </h5>
  <span>$
    <%= song.artist %> </span>
  <span>$
    <%= song.rating %> </span>
  <span>$
    <%= song.duration %> </span>
  <% }); %>
</div>
